In [1]:
# Import MySQL Connector/Python 
#!pip install mysql-connector-python
import mysql.connector as connector

# Establish Connection
connection=connector.connect(user="chef",password="loop66")

In [2]:
# Create a cursor
cursor = connection.cursor()

In [3]:
# Create the database and set it for use
cursor.execute("DROP DATABASE IF EXISTS little_lemon_db") #drop statement for testing purposes
cursor.execute("CREATE DATABASE little_lemon_db") 

cursor.execute("USE little_lemon_db")

In [4]:
# Create Tables
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

In [5]:
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [6]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [7]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

In [8]:
# Part 1 of Project:
# Task 1 - 
# Establish a connection

# Establish Connection Pool
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Configure Database in dictionary
dbconfig={"database":"little_lemon_db", "user":"chef", "password":"loop66"}

# Create Connection Pool with error handling
try:
    pool = MySQLConnectionPool(pool_name="pool_a",
                              pool_size=2,
                              **dbconfig)
    print("The connection pool is created with a name:",pool.pool_name)
    print("The pool size is:",pool.pool_size)
except Error as err:
    print("Error code:", err.errno)
    print("Error message:", err.msg)

The connection pool is created with a name: pool_a
The pool size is: 2

In [9]:
# Obtain connection from pool_a
print("Getting a connection from the pool.")
connection = pool.get_connection()

# Create cursor on connection
print("Creating a cursor object.")
cursor = connection.cursor()

Getting a connection from the pool.
Creating a cursor object.

In [10]:
# Task 2 - 
# Implement Peak Hours Stored Procedure
cursor.execute("DROP PROCEDURE IF EXISTS PeakHours;")

# Create PeakHours Procedure
print("Creating PeakHours Procedure")
CreatePeakHoursProc = """
CREATE PROCEDURE PeakHours()

BEGIN

SELECT HOUR(BookingSlot) as BookingHour,
        COUNT(BookingID) as Total_Bookings
FROM Bookings
GROUP BY BookingHour
ORDER BY Total_Bookings DESC
;

END

"""

# Run Create Procedure Query
cursor.execute(CreatePeakHoursProc)

# Call the stored procedure with its name
print("Calling PeakHours Procedure")
cursor.callproc("PeakHours")
print()

# Retrieve recrods in "dataset"
print("Results of PeakHours Procedure:")
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]

# Print column names
print(columns)

# Print data 
for data in dataset:
    print(data)

Creating PeakHours Procedure
Calling PeakHours Procedure

Results of PeakHours Procedure:
['BookingHour', 'Total_Bookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [11]:
# Task 3 - 
# Implement Guest Status Stored Procedure
cursor.execute("DROP PROCEDURE IF EXISTS GuestStatus;")

# Create GuestStatus Procedure
print("Creating GuestStatus Procedure")
CreateGuestStatusProc = """
CREATE PROCEDURE GuestStatus()

BEGIN

SELECT CONCAT(BK.GuestFirstName, BK.GuestLastName) as GuestFullName,
        CASE WHEN EM.Role IN ('Manager', 'Assistant Manager')
                THEN 'Ready to pay'
            WHEN EM.Role = 'Head Chef'
                THEN 'Ready to serve'
            WHEN EM.Role = 'Assistant Chef'
                THEN 'Preparing Order'
            WHEN EM.Role = 'Head Waiter'
                THEN 'Order Served'
        END AS GuestStatus
FROM Bookings as BK
LEFT JOIN employees as EM ON BK.EmployeeID = EM.EmployeeID
;

END

"""

# Run Create Procedure Query
cursor.execute(CreateGuestStatusProc)

# Call the stored procedure with its name
print("Calling GuestStatus Procedure")
cursor.callproc("GuestStatus")
print()

# Retrieve recrods in "dataset"
print("Results of GuestStatus Procedure:")
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]

# Print column names
print(columns)

# Print data 
for data in dataset:
    print(data)

Creating GuestStatus Procedure
Calling GuestStatus Procedure

Results of GuestStatus Procedure:
['GuestFullName', 'GuestStatus']
('AnnaIversen', 'Ready to pay')
('JoakimIversen', 'Ready to pay')
('VanessaMcCarthy', 'Ready to serve')
('MarcosRomero', 'Preparing Order')
('HirokiYamane', 'Ready to pay')
('DianaPinto', 'Order Served')

In [12]:
# End Part 1 of Project / Begin Part 2

# Task 1 -
# Establish new connection for Part 2

# Establish Connection Pool
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Configure Database
dbconfig={"database":"little_lemon_db", "user":"chef", "password":"loop66"}

# Create Connection Pool with error handling
try:
    pool = MySQLConnectionPool(pool_name="pool_b",
                              pool_size=2,
                              **dbconfig)
    print("The connection pool is created with a name:",pool.pool_name)
    print("The pool size is:",pool.pool_size)
except Error as err:
    print("Error code:", err.errno)
    print("Error message:", err.msg)

The connection pool is created with a name: pool_b
The pool size is: 2

In [13]:
# Task 2 -
# Three guests are trying to book dinner slots simultaneously
# Assign database connection to guest so they can book a reservation
# if no connections available; add a new connection and book reservation

# Guest Info to add to Bookings table
# [TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID] *BookingID will auto-increment
Guest1 = [8, 'Anees', 'Java', '18:00:00', 6]
Guest2 = [5, 'Bald', 'Vin', '19:00:00', 6]
Guest3 = [12, 'Jay', 'Kon', '19:30:00', 6]

# Create list containing Guest Info
GuestsBookingReservation = [Guest1,Guest2,Guest3]

# For loop to add new reservations to booking table
for guest in GuestsBookingReservation:
    try:
        # Establish Connection and create cursor on connection
        connection = pool.get_connection()
        cursor = connection.cursor()
        print("Guest successfully connected")
        
        # SQL statement to add reservation to Bookings table
        reservation_query = """INSERT INTO Bookings (TableNo, GuestFirstName, 
                                GuestLastName, BookingSlot, EmployeeID)
                                VALUES
                                ({}, '{}', '{}', '{}', {});""".format(*guest)
        
        # Execute query & commit to database
        print("Adding Guest Reservation")
        cursor.execute(reservation_query)
        guest_connect.commit()
        print("Reservation successfully added for: ", guest[1], guest[2], "at", guest[3])
        print()
    except:
        print("No more connections are available.")
        print("Adding new connection in the pool.")
        
        # Create a new connection
        new_connection=connector.connect(user="chef",password="loop66")
        # Add the connection into the pool
        pool.add_connection(cnx=new_connection)
        print("A new connection is added in the pool.")
        print()
        
        connection = pool.get_connection()
        cursor = connection.cursor()
        print("Guest successfully connected")
        
        # SQL statement to add reservation to Bookings table
        reservation_query = """INSERT INTO Bookings (TableNo, GuestFirstName, 
                                GuestLastName, BookingSlot, EmployeeID)
                                VALUES
                                ({}, '{}', '{}', '{}', {});""".format(*guest)
        
        # Execute query & commit to database
        print("Adding Guest Reservation")
        cursor.execute(reservation_query)
        connection.commit()
        print("Reservation successfully added for:", guest[1], guest[2], "at", guest[3])
        print()
        
# Put the connections back to the pool    
print("Returning the connections back to the pool.")
connection.close()
print("The connections are placed back into the pool for the next user to connect.")

Guest successfully connected
Adding Guest Reservation
No more connections are available.
Adding new connection in the pool.
A new connection is added in the pool.

Guest successfully connected
Adding Guest Reservation
Reservation successfully added for: Anees Java at 18:00:00

Guest successfully connected
Adding Guest Reservation
No more connections are available.
Adding new connection in the pool.
A new connection is added in the pool.

Guest successfully connected
Adding Guest Reservation
Reservation successfully added for: Bald Vin at 19:00:00

No more connections are available.
Adding new connection in the pool.
A new connection is added in the pool.

Guest successfully connected
Adding Guest Reservation
Reservation successfully added for: Jay Kon at 19:30:00

Returning the connections back to the pool.
The connections are placed back into the pool for the next user to connect.

In [14]:
# Task 3 - 
# Create a report containing the following information:
#
# - The name and EmployeeID of the Little Lemon manager.
# - The name and role of the employee who receives the highest salary.
# - The number of guests booked between 18:00 and 20:00.
# - The full name and BookingID of all guests waiting to be seated with the receptionist 
#     in sorted order with respect to their BookingSlot.

# Create Queries to pull necessary info from database
managerID_query = """
SELECT Name, EmployeeID
FROM employees
WHERE Role = 'Manager';
"""
highest_paid_query = """
SELECT Name, Role
FROM employees
ORDER BY Annual_Salary DESC
LIMIT 1;
"""
num_guests_query = """
SELECT Count(BookingID) as Guests
FROM Bookings
WHERE BookingSlot between '18:00:00' and '20:00:00';
"""
waitlist_query = """
SELECT concat(GuestFirstName, ' ', GuestLastName) as GuestFullName,
        BookingID
FROM Bookings
ORDER BY BookingSlot;
"""

# Create Report with required info by executing queries & printing to report
print('Task 3 Report:')
print()
print('--Little Lemon Manager--')

cursor.execute(managerID_query)
results = cursor.fetchall()
for result in results:
    print(result[0], cursor.column_names[1], result[1])
    
print()
print('--Highest Salaried Employee--')

cursor.execute(highest_paid_query)
results = cursor.fetchone()
print(results[0], results[1])
    
print()
print("--Number of Guests booked between 18:00 & 20:00--")

cursor.execute(num_guests_query)
results = cursor.fetchone()
print(results[0], cursor.column_names[0])
    
print()
print('----Guest Waitlist----')

cursor.execute(waitlist_query)
print(cursor.column_names)
results = cursor.fetchall()
for result in results:
    print(result)

Task 3 Report:

--Little Lemon Manager--
Mario Gollini EmployeeID 1

--Highest Salaried Employee--
Mario Gollini Manager

--Number of Guests booked between 18:00 & 20:00--
7 Guests

----Guest Waitlist----
('GuestFullName', 'BookingID')
('Vanessa McCarthy', 3)
('Marcos Romero', 4)
('Anees Java', 8)
('Hiroki Yamane', 5)
('Anna Iversen', 1)
('Joakim Iversen', 2)
('Bald Vin', 10)
('Jay Kon', 11)
('Diana Pinto', 6)

In [15]:
# Task 4 -
# Create Basic Sales Report Stored Procedure

cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport;")

# Create BasicSalesReport Procedure
print("Creating BasicSalesReport Procedure")
CreateBasicSalesReportProc = """
CREATE PROCEDURE BasicSalesReport()

BEGIN

SELECT cast(sum(BillAmount) as signed) as Total_Sales,
        cast(round(avg(BillAmount),0) as signed) as Avg_Sale,
        min(BillAmount) as Minimum_Bill_Paid,
        max(BillAmount) as Maximum_Bill_Paid
FROM Orders
;

END

"""

# Run Create Procedure Query
cursor.execute(CreateBasicSalesReportProc)

# Call the stored procedure with its name
print("Calling BasicSalesReport Procedure")
cursor.callproc("BasicSalesReport")
print()

# Retrieve recrods in "dataset"
print("Results of BasicSalesReport Procedure:")
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]

# Print column names
print(columns)

# Print data 
for data in dataset:
    print(data)

Creating BasicSalesReport Procedure
Calling BasicSalesReport Procedure

Results of BasicSalesReport Procedure:
['Total_Sales', 'Avg_Sale', 'Minimum_Bill_Paid', 'Maximum_Bill_Paid']
(243, 49, 37, 86)

In [16]:
# Task 5 -
# Display the next three upcoming bookings from the Bookings table on the kitchen screen 
# to notify their chefs which orders are due next

# Get a connection from connection pool
print('Getting new connection from pool')
connection = pool.get_connection()

# Create a buffered cursor
print('Creating a buffered cursor')
buffered_cursor = connection.cursor(buffered = True)

# Query Bookings & Employee tables to get upcoming bookings & assigned employee
upcoming_query = """
SELECT bk.BookingSlot,
        concat(bk.GuestFirstName, ' ', bk.GuestLastName) as GuestName,
        em.Name,
        em.Role
FROM Bookings bk
INNER JOIN employees em
ON bk.EmployeeID = em.EmployeeID
ORDER BY bk.BookingSlot
LIMIT 3;
"""

# Get results from query
print('Retrieving bookings')
print()
buffered_cursor.execute(upcoming_query)
upcoming = buffered_cursor.fetchall()

# Display Upcoming Bookings
print('First 3 Bookings:')
print()
for booking in upcoming:
    print(booking[0])
    print(booking[1])
    print('Assigned to:', booking[2], '[{}]'.format(booking[3]))
    print()

Getting new connection from pool
Creating a buffered cursor
Retrieving bookings

First 3 Bookings:

15:00:00
Vanessa McCarthy
Assigned to: Giorgos Dioudis [Head Chef]

17:30:00
Marcos Romero
Assigned to: Fatma Kaya [Assistant Chef]

18:00:00
Anees Java
Assigned to: John Millar [Receptionist]

In [17]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.